@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: 'Playfair Display', serif;
  /* Optional: Add other styles like font-weight, color, etc. */
}

